.head{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight:600 !important;
    font-size:20px !important;
}
.Cat:hover{
     background:rgb(235, 0, 0);
     border-radius:30px;
     font-family:Verdana, Geneva, Tahoma, sans-serif;
     color: wheat;
}
.PName:hover{
    color:blue;
    font-weight: bolder;
}
.limited-lines {
    max-height: 5em; /* Adjust as needed */
    overflow: hidden;
    text-overflow:ellipsis;
    display: -webkit-box;
    -webkit-line-clamp:2; /* Adjust the number of lines to display */
    -webkit-box-orient:horizontal;
}
.bra:hover{
     color:brown;
     font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     background-color:wheat;
     padding:2px;
   
}
.CatName:hover{
    color:gray;
    padding:4px;
}

@media (max-width: 768px) {
    .media {
     
      max-height: 200px;
      max-width: 100%;
    }
  }
  
  @media (min-width: 769px) {
    .media {
    
      max-height: 250px;
      max-width: 100%;
    }
  }
  @media (max-width: 768px) {
    .media2  {
     width:100%;
      max-height: 170px;
    }
  }
  
  @media (min-width: 769px) {
    .media2  {
      width:100%;
      max-height: 270px;
    }
  }
 .image-container {
  width: 100%;
  max-width: 100%;
  overflow: hidden;
}

@media screen and (min-width: 600px) {
  /* .image-container {
    max-height: 250px  !important;
  }
  .image-container2{
        height:230px ;
        width:95%;
  } */
}

@media screen and (max-width: 599px) {
  /* .image-container {
    max-height: 200px;
  }
  .image-container2{
    height:230px;
    width:95%;
 } */
}

.image {
  width: 100%;
  max-height: 100%;
  object-fit: cover;
}



@media (max-width: 768px) {
   .PCon2{
          height:650px;
          margin-top:20px !important;
        
          padding:20px;
   }
  
}
@media (max-width: 770px) {
  .PCon2{
         height: 50vh !important;;
  }
  
}
.text1{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}