@media (max-width:391px) {
    .model{
        width:160px;
        height:350px;
        
    }
    .cont{
           height:200px;
    }
    .img{
        width:100%;
        height:100%;
    }
  }
  
@media (min-width: 391px) and (max-width: 553px) {
    .model {
        width: 180px;
        height: 350px;
    }  
     .cont{
        height:200px;
 }
 .img{
     width:100%;
     height:100%;
 }
}

@media (min-width:553px) and (max-width:956px) {
    .model {
        width:250px;
        height: 400px;
    }  
    .cont{
        height:250px;
 }
 .img{
     width:100%;
     height:90%;
      
  }
}
@media (min-width:956px) and (max-width:1199px) {
    .model {
        width:240px;
        height: 450px;
    }  
    .cont{
        height:250px;
 }
 .img{
     width:100%;
     height:90%;
   
      
  }
}
@media (min-width: 1200px) {
    .model {
        width:270px;
        height: 450px;
    }
    .cont{
        height:300px;
 }
 .img{
     width:100%;
     height:90%;

      
  } 
  }